@import "../../styles/_variables";

.table {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  border-collapse: collapse;
  overflow-x: auto;
}

.head {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $border-color;
}

.header {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: $text-color;
}

.cell {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $text-color;
}

.header,
.cell {
  &:first-child {
    width: 280px;
  }
  &:nth-child(2) {
    width: 200px;
  }
}

.body {
  .row {
    padding-bottom: 24px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.negative {
  color: $red;
}

.positive {
  color: $green;
}

.align__right {
  text-align: right;
}
