// Variables

$black: #000;
$white: #fff;

$green: rgba(34, 135, 69, 0.87);
$red: rgba(204, 71, 82, 0.87);

$border-color: rgba(0, 0, 0, 0.1);
$tag-bg-color: rgba(216, 222, 235, 1);
$text-color: rgba(0, 0, 0, 0.87);

$border-radius: 8px;
