@import "../../styles/_variables";

.header {
  width: 100%;
  padding: 24px;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  text-align: left;
  box-sizing: border-box;
}

.title {
  margin: 0;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.label {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.valuation {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
